# 📊 Selección de Múltiples Columnas en DataFrames 🎯



---

## 📋 Índice de Navegación Rápida

<div style="background-color: #0a0a0aff; padding: 15px; border-radius: 10px; border-left: 5px solid #007bff;">

### 🎯 **Contenido de esta lección:**

1. [🔧 **Configuración Inicial**](#configuracion) - Importación de librerías y carga de datos
2. [👀 **Exploración del Dataset**](#exploracion) - Conociendo nuestros datos
3. [🎯 **Selección de Dos Columnas**](#dos-columnas) - Técnica básica con doble corchete
4. [🔍 **Verificación de Tipos**](#tipos) - Entendiendo qué obtenemos
5. [📊 **Selección Múltiple Avanzada**](#multiple) - Trabajando con 3+ columnas
6. [⚠️ **Errores Comunes**](#errores) - Qué NO hacer
7. [💡 **Casos Prácticos**](#casos-practicos) - Ejemplos del mundo real
8. [🎓 **Ejercicios Interactivos**](#ejercicios) - Pon a prueba tus conocimientos
9. [📝 **Resumen y Mejores Prácticas**](#resumen) - Puntos clave para recordar

</div>

---

## 🔧 1. Configuración Inicial

<div style="background-color: #e8f5e8; padding: 10px; border-radius: 8px; border-left: 4px solid #28a745;">
    <strong>🎯 Objetivo:</strong> Preparar nuestro entorno de trabajo importando las librerías necesarias
</div>

In [1]:
# 📦 Importación de librerías esenciales
import pandas as pd
import numpy as np
import warnings

# 🎨 Configuración para mejor visualización
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
warnings.filterwarnings('ignore')

print("✅ Librerías importadas correctamente")
print(f"📊 Versión de Pandas: {pd.__version__}")
print(f"🔢 Versión de NumPy: {np.__version__}")

✅ Librerías importadas correctamente
📊 Versión de Pandas: 2.3.1
🔢 Versión de NumPy: 2.3.2

## 👀 2. Exploración del Dataset

<div style="background-color: #070707ff; padding: 10px; border-radius: 8px; border-left: 4px solid #ffc107;">
    <strong>📊 Dataset:</strong> StudentsPerformance.csv - Rendimiento académico de estudiantes
</div>

In [2]:
# 📂 Carga del dataset
df_exams = pd.read_csv("StudentsPerformance.csv")

print("🎉 Dataset cargado exitosamente!")
print(f"📏 Dimensiones: {df_exams.shape[0]} filas × {df_exams.shape[1]} columnas")
print("\n📋 Primeras 5 filas del dataset:")
df_exams.head()

🎉 Dataset cargado exitosamente!
📏 Dimensiones: 1000 filas × 8 columnas

📋 Primeras 5 filas del dataset:

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
# 🔍 Información detallada del dataset
print("📊 INFORMACIÓN GENERAL DEL DATASET")
print("=" * 40)
print(f"📏 Forma del DataFrame: {df_exams.shape}")
print(f"📋 Columnas disponibles: {list(df_exams.columns)}")
print(f"🔢 Tipos de datos:")
print(df_exams.dtypes)
print(f"\n❓ Valores nulos por columna:")
print(df_exams.isnull().sum())

📊 INFORMACIÓN GENERAL DEL DATASET
========================================
📏 Forma del DataFrame: (1000, 8)
📋 Columnas disponibles: ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']
🔢 Tipos de datos:
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

❓ Valores nulos por columna:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## 🎯 3. Selección de Dos Columnas

<div style="background-color: #0d0d0eff; padding: 15px; border-radius: 8px; border-left: 4px solid #17a2b8;">
    <strong>🎓 Concepto Clave:</strong> Para seleccionar múltiples columnas usamos <code>df[[col1, col2]]</code> con <strong>doble corchete</strong>
</div>

### 📚 Sintaxis Fundamental:
```python
# ✅ Correcto: Doble corchete para múltiples columnas
df[['columna1', 'columna2']]

# ❌ Incorrecto: Un solo corchete no funciona para múltiples
df['columna1', 'columna2']  # Esto dará error
```

In [4]:
# 🎯 Selección de dos columnas específicas: puntuaciones de matemáticas y lectura
print("📊 SELECCIÓN DE DOS COLUMNAS: MATH SCORE y READING SCORE")
print("=" * 55)

# Seleccionamos las columnas de interés
math_reading_scores = df_exams[['math score', 'reading score']]

print(f"📏 Dimensiones del resultado: {math_reading_scores.shape}")
print("\n🔝 Primeras 10 filas:")
math_reading_scores.head(10)

📊 SELECCIÓN DE DOS COLUMNAS: MATH SCORE y READING SCORE
=======================================================
📏 Dimensiones del resultado: (1000, 2)

🔝 Primeras 10 filas:

   math score  reading score
0          72             72
1          69             90
2          90             95
3          47             57
4          76             78
5          71             83
6          88             95
7          40             43
8          64             64
9          38             60

In [5]:
# 📈 Análisis rápido de las columnas seleccionadas
print("📊 ESTADÍSTICAS DESCRIPTIVAS")
print("=" * 30)
print(math_reading_scores.describe())

print("\n🔍 INFORMACIÓN ADICIONAL:")
print(f"📊 Promedio en Matemáticas: {math_reading_scores['math score'].mean():.2f}")
print(f"📚 Promedio en Lectura: {math_reading_scores['reading score'].mean():.2f}")
print(f"🎯 Diferencia promedio: {abs(math_reading_scores['math score'].mean() - math_reading_scores['reading score'].mean()):.2f} puntos")

📊 ESTADÍSTICAS DESCRIPTIVAS
==============================
       math score  reading score
count  1000.00000    1000.000000
mean     66.08900      69.169000
std      15.16308      14.600192
min       0.00000      17.000000
25%      57.00000      59.000000
50%      66.00000      70.000000
75%      77.00000      79.000000
max     100.00000     100.000000

🔍 INFORMACIÓN ADICIONAL:
📊 Promedio en Matemáticas: 66.09
📚 Promedio en Lectura: 69.17
🎯 Diferencia promedio: 3.08 puntos

## 🔍 4. Verificación de Tipos de Datos

<div style="background-color: #0c0c0cff; padding: 10px; border-radius: 8px; border-left: 4px solid #dc3545;">
    <strong>⚠️ Importante:</strong> Siempre verifica qué tipo de objeto obtienes al hacer selecciones
</div>

In [6]:
# 🔬 Verificación del tipo de dato resultante
print("🔍 ANÁLISIS DE TIPOS DE DATOS")
print("=" * 35)

# Tipo del DataFrame original
print(f"📊 Tipo del DataFrame original: {type(df_exams)}")

# Tipo de la selección de múltiples columnas
selection_type = type(df_exams[['math score', 'reading score']])
print(f"🎯 Tipo de selección múltiple: {selection_type}")

# Comparación con selección de una sola columna
single_column_type = type(df_exams['math score'])
print(f"📈 Tipo de selección única: {single_column_type}")

print("\n💡 CONCLUSIÓN:")
print("✅ Múltiples columnas → DataFrame")
print("✅ Una sola columna → Series")

🔍 ANÁLISIS DE TIPOS DE DATOS
===================================
📊 Tipo del DataFrame original: <class 'pandas.core.frame.DataFrame'>
🎯 Tipo de selección múltiple: <class 'pandas.core.frame.DataFrame'>
📈 Tipo de selección única: <class 'pandas.core.series.Series'>

💡 CONCLUSIÓN:
✅ Múltiples columnas → DataFrame
✅ Una sola columna → Series

## 📊 5. Selección Múltiple Avanzada (3+ Columnas)

<div style="background-color: #080808ff; padding: 15px; border-radius: 8px; border-left: 4px solid #28a745;">
    <strong>🚀 Nivel Avanzado:</strong> Seleccionando múltiples columnas para análisis más completos
</div>

In [7]:
# 🎯 Selección de múltiples columnas para análisis demográfico y académico
print("👥 ANÁLISIS DEMOGRÁFICO Y ACADÉMICO")
print("=" * 40)

# Seleccionamos columnas relevantes para el análisis
demographic_academic = df_exams[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score']]

print(f"📏 Dimensiones: {demographic_academic.shape}")
print("\n🔝 Muestra de datos:")
demographic_academic.head()

👥 ANÁLISIS DEMOGRÁFICO Y ACADÉMICO
========================================
📏 Dimensiones: (1000, 5)

🔝 Muestra de datos:

   gender race/ethnicity  math score  reading score  writing score
0  female        group B          72             72             74
1  female        group C          69             90             88
2  female        group B          90             95             93
3    male        group A          47             57             44
4    male        group C          76             78             75

In [8]:
# 📚 Enfoque académico: Solo las puntuaciones
print("📊 ANÁLISIS PURAMENTE ACADÉMICO")
print("=" * 35)

academic_scores = df_exams[['math score', 'reading score', 'writing score']]

print("📈 Estadísticas de rendimiento académico:")
print(academic_scores.describe())

# Calculamos algunas métricas interesantes
print("\n🎯 MÉTRICAS ADICIONALES:")
academic_scores['promedio_total'] = academic_scores.mean(axis=1)
print(f"🏆 Promedio general más alto: {academic_scores['promedio_total'].max():.2f}")
print(f"📉 Promedio general más bajo: {academic_scores['promedio_total'].min():.2f}")
print(f"📊 Promedio general del grupo: {academic_scores['promedio_total'].mean():.2f}")

📊 ANÁLISIS PURAMENTE ACADÉMICO
===================================
📈 Estadísticas de rendimiento académico:
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

🎯 MÉTRICAS ADICIONALES:
🏆 Promedio general más alto: 100.00
📉 Promedio general más bajo: 9.00
📊 Promedio general del grupo: 67.77

## ⚠️ 6. Errores Comunes y Cómo Evitarlos

<div style="background-color: #080808ff; padding: 15px; border-radius: 8px; border-left: 4px solid #dc3545;">
    <strong>🚨 Atención:</strong> Estos son los errores más frecuentes al seleccionar múltiples columnas
</div>

In [9]:
print("🚨 ERRORES COMUNES AL SELECCIONAR MÚLTIPLES COLUMNAS")
print("=" * 55)

print("❌ ERROR 1: Usar un solo corchete")
print("   Incorrecto: df['col1', 'col2']")
print("   ✅ Correcto: df[['col1', 'col2']]")

print("\n❌ ERROR 2: Intentar usar notación de punto para múltiples columnas")
print("   Incorrecto: df.col1, col2")
print("   ✅ Correcto: df[['col1', 'col2']]")

print("\n❌ ERROR 3: Nombres de columnas incorrectos")
print("   Problema: Espacios, mayúsculas, caracteres especiales")
print("   ✅ Solución: Usar los nombres exactos como aparecen en df.columns")

print("\n📋 Nombres exactos de nuestras columnas:")
for i, col in enumerate(df_exams.columns, 1):
    print(f"   {i}. '{col}'")

🚨 ERRORES COMUNES AL SELECCIONAR MÚLTIPLES COLUMNAS
=======================================================
❌ ERROR 1: Usar un solo corchete
   Incorrecto: df['col1', 'col2']
   ✅ Correcto: df[['col1', 'col2']]

❌ ERROR 2: Intentar usar notación de punto para múltiples columnas
   Incorrecto: df.col1, col2
   ✅ Correcto: df[['col1', 'col2']]

❌ ERROR 3: Nombres de columnas incorrectos
   Problema: Espacios, mayúsculas, caracteres especiales
   ✅ Solución: Usar los nombres exactos como aparecen en df.columns

📋 Nombres exactos de nuestras columnas:
   1. 'gender'
   2. 'race/ethnicity'
   3. 'parental level of education'
   4. 'lunch'
   5. 'test preparation course'
   6. 'math score'
   7. 'reading score'
   8. 'writing score'

In [10]:
# 🧪 Demostración de errores (comentados para evitar que se ejecuten)
print("🧪 DEMOSTRACIÓN DE ERRORES (Código comentado)")
print("=" * 45)

print("💡 Estos códigos están comentados porque generarían errores:")
print()
print("# ❌ Esto NO funcionará:")
print("# df_exams['math score', 'reading score']  # KeyError")
print()
print("# ❌ Esto tampoco funcionará:")
print("# df_exams.math score, reading score  # SyntaxError")
print()
print("✅ La forma correcta es:")
correct_selection = df_exams[['math score', 'reading score']]
print(f"   df_exams[['math score', 'reading score']] → {type(correct_selection)}")

🧪 DEMOSTRACIÓN DE ERRORES (Código comentado)
=============================================
💡 Estos códigos están comentados porque generarían errores:

# ❌ Esto NO funcionará:
# df_exams['math score', 'reading score']  # KeyError

# ❌ Esto tampoco funcionará:
# df_exams.math score, reading score  # SyntaxError

✅ La forma correcta es:
   df_exams[['math score', 'reading score']] → <class 'pandas.core.frame.DataFrame'>

## 💡 7. Casos Prácticos del Mundo Real

<div style="background-color: #0c0c0cff; padding: 15px; border-radius: 8px; border-left: 4px solid #6c757d;">
    <strong>🌟 Aplicaciones Reales:</strong> Situaciones donde necesitas seleccionar múltiples columnas
</div>

In [11]:
# 🎯 Caso Práctico 1: Análisis de rendimiento por género
print("👥 CASO PRÁCTICO 1: ANÁLISIS POR GÉNERO")
print("=" * 40)

# Seleccionamos género y todas las puntuaciones
gender_performance = df_exams[['gender', 'math score', 'reading score', 'writing score']]

# Análisis por género
print("📊 Promedio de puntuaciones por género:")
gender_stats = gender_performance.groupby('gender').mean()
print(gender_stats)

print("\n🔍 Observaciones:")
for gender in gender_stats.index:
    math_avg = gender_stats.loc[gender, 'math score']
    reading_avg = gender_stats.loc[gender, 'reading score']
    writing_avg = gender_stats.loc[gender, 'writing score']
    print(f"   {gender.title()}: Math={math_avg:.1f}, Reading={reading_avg:.1f}, Writing={writing_avg:.1f}")

👥 CASO PRÁCTICO 1: ANÁLISIS POR GÉNERO
========================================
📊 Promedio de puntuaciones por género:
        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

🔍 Observaciones:
   Female: Math=63.6, Reading=72.6, Writing=72.5
   Male: Math=68.7, Reading=65.5, Writing=63.3

In [12]:
# 🍽️ Caso Práctico 2: Impacto del tipo de almuerzo en el rendimiento
print("🍽️ CASO PRÁCTICO 2: IMPACTO DEL ALMUERZO")
print("=" * 40)

# Seleccionamos tipo de almuerzo y puntuaciones
lunch_performance = df_exams[['lunch', 'math score', 'reading score', 'writing score']]

print("📊 Rendimiento académico por tipo de almuerzo:")
lunch_stats = lunch_performance.groupby('lunch').agg({
    'math score': ['mean', 'std'],
    'reading score': ['mean', 'std'],
    'writing score': ['mean', 'std']
})

print(lunch_stats.round(2))

print("\n💡 Insight: ¿Existe diferencia en el rendimiento según el tipo de almuerzo?")

🍽️ CASO PRÁCTICO 2: IMPACTO DEL ALMUERZO
========================================
📊 Rendimiento académico por tipo de almuerzo:
             math score        reading score        writing score
                   mean    std          mean    std          mean    std
lunch
free/reduced      58.92  15.16         64.65  14.90         63.02  15.43
standard          70.03  13.65         71.65  13.83         70.82  14.34

💡 Insight: ¿Existe diferencia en el rendimiento según el tipo de almuerzo?

In [13]:
# 🎓 Caso Práctico 3: Correlación entre materias
print("🔗 CASO PRÁCTICO 3: CORRELACIÓN ENTRE MATERIAS")
print("=" * 45)

# Seleccionamos solo las puntuaciones para análisis de correlación
scores_only = df_exams[['math score', 'reading score', 'writing score']]

print("📊 Matriz de correlación:")
correlation_matrix = scores_only.corr()
print(correlation_matrix.round(3))

print("\n🔍 Interpretación:")
print(f"   📐 Math-Reading: {correlation_matrix.loc['math score', 'reading score']:.3f}")
print(f"   📐 Math-Writing: {correlation_matrix.loc['math score', 'writing score']:.3f}")
print(f"   📐 Reading-Writing: {correlation_matrix.loc['reading score', 'writing score']:.3f}")
print("\n💡 Valores cercanos a 1 indican fuerte correlación positiva")

🔗 CASO PRÁCTICO 3: CORRELACIÓN ENTRE MATERIAS
=============================================
📊 Matriz de correlación:
               math score  reading score  writing score
math score          1.000          0.818          0.803
reading score       0.818          1.000          0.955
writing score       0.803          0.955          1.000

🔍 Interpretación:
   📐 Math-Reading: 0.818
   📐 Math-Writing: 0.803
   📐 Reading-Writing: 0.955

💡 Valores cercanos a 1 indican fuerte correlación positiva

## 🎓 8. Ejercicios Interactivos

<div style="background-color: #080808ff; padding: 15px; border-radius: 8px; border-left: 4px solid #ffc107;">
    <strong>🏋️ Practica:</strong> Resuelve estos ejercicios para consolidar tu aprendizaje
</div>

In [14]:
# 🏋️ EJERCICIO 1: Selección básica
print("🏋️ EJERCICIO 1: SELECCIÓN BÁSICA")
print("=" * 35)
print("📝 Tarea: Selecciona las columnas 'gender' y 'lunch'")
print("💡 Pista: Usa doble corchete con los nombres exactos")
print()

# 🔽 Escribe tu código aquí:
ejercicio_1 = df_exams[['gender', 'lunch']]

print("✅ Resultado:")
print(f"📏 Forma: {ejercicio_1.shape}")
print(ejercicio_1.head())

🏋️ EJERCICIO 1: SELECCIÓN BÁSICA
===================================
📝 Tarea: Selecciona las columnas 'gender' y 'lunch'
💡 Pista: Usa doble corchete con los nombres exactos

✅ Resultado:
📏 Forma: (1000, 2)
   gender         lunch
0  female      standard
1  female      standard
2  female      standard
3    male  free/reduced
4    male      standard

In [15]:
# 🏋️ EJERCICIO 2: Análisis educativo
print("🏋️ EJERCICIO 2: ANÁLISIS EDUCATIVO")
print("=" * 35)
print("📝 Tarea: Selecciona 'parental level of education' y 'test preparation course'")
print("💡 Pista: Cuidado con los espacios en los nombres")
print()

# 🔽 Escribe tu código aquí:
ejercicio_2 = df_exams[['parental level of education', 'test preparation course']]

print("✅ Resultado:")
print(ejercicio_2.value_counts())

🏋️ EJERCICIO 2: ANÁLISIS EDUCATIVO
===================================
📝 Tarea: Selecciona 'parental level of education' y 'test preparation course'
💡 Pista: Cuidado con los espacios en los nombres

✅ Resultado:
parental level of education  test preparation course
some college                 none                       149
associate's degree           none                       140
high school                  none                       140
some high school             none                       102
associate's degree           completed                   82
some college                 completed                   77
some high school             completed                   77
bachelor's degree            none                        72
high school                  completed                   56
bachelor's degree            completed                   46
master's degree              none                        39
                             completed                   20
Name: count, dtype: int64

In [16]:
# 🏋️ EJERCICIO 3: Desafío avanzado
print("🏋️ EJERCICIO 3: DESAFÍO AVANZADO")
print("=" * 35)
print("📝 Tarea: Crea un DataFrame con información completa del estudiante")
print("   Incluye: gender, race/ethnicity, parental level of education, y las 3 puntuaciones")
print()

# 🔽 Escribe tu código aquí:
ejercicio_3 = df_exams[[
    'gender', 
    'race/ethnicity', 
    'parental level of education',
    'math score', 
    'reading score', 
    'writing score'
]]

print("✅ Resultado:")
print(f"📏 Forma: {ejercicio_3.shape}")
print("\n🔝 Muestra:")
print(ejercicio_3.head(3))

🏋️ EJERCICIO 3: DESAFÍO AVANZADO
===================================
📝 Tarea: Crea un DataFrame con información completa del estudiante
   Incluye: gender, race/ethnicity, parental level of education, y las 3 puntuaciones

✅ Resultado:
📏 Forma: (1000, 6)

🔝 Muestra:
   gender race/ethnicity parental level of education  math score  \
0  female        group B           bachelor's degree          72
1  female        group C                some college          69
2  female        group B             master's degree          90

   reading score  writing score
0             72             74
1             90             88
2             95             93

## 📝 9. Resumen y Mejores Prácticas

<div style="background: linear-gradient(135deg, #28a745 0%, #20c997 100%); padding: 20px; border-radius: 15px; color: white; margin: 20px 0;">
    <h3>🎯 Puntos Clave para Recordar</h3>
</div>

### 🔑 **Conceptos Fundamentales:**

1. **🎯 Sintaxis Correcta:**
   - ✅ `df[['col1', 'col2']]` → DataFrame
   - ❌ `df['col1', 'col2']` → Error

2. **📊 Tipos de Retorno:**
   - Múltiples columnas → `pandas.DataFrame`
   - Una columna → `pandas.Series`

3. **⚠️ Nombres de Columnas:**
   - Usar nombres exactos (case-sensitive)
   - Incluir espacios y caracteres especiales
   - Verificar con `df.columns`

### 🚀 **Mejores Prácticas:**

- **📋 Planificación:** Define qué columnas necesitas antes de seleccionar
- **🔍 Verificación:** Siempre revisa el resultado con `.head()` y `.shape`
- **📊 Análisis:** Usa `.describe()` para entender tus datos seleccionados
- **💾 Almacenamiento:** Guarda selecciones frecuentes en variables
- **🧹 Limpieza:** Mantén tu código organizado y comentado

### 🎓 **Casos de Uso Comunes:**

- **👥 Análisis demográfico:** Combinar características personales con métricas
- **📈 Análisis de rendimiento:** Comparar múltiples métricas
- **🔗 Análisis de correlación:** Estudiar relaciones entre variables
- **📊 Reportes:** Crear vistas específicas para stakeholders

---

<div style="background-color: #0a0a0aff; padding: 15px; border-radius: 10px; text-align: center; margin: 20px 0;">
    <h3>🎉 ¡Felicitaciones!</h3>
    <p><strong>Has dominado la selección de múltiples columnas en Pandas</strong></p>
    <p>🚀 Siguiente paso: Aprende sobre filtrado y manipulación avanzada de datos</p>
</div>