# üìä Ordenamiento de DataFrames con `sort_values()` üîÑ

---

## üìã √çndice de Contenidos

1. [üéØ Introducci√≥n](#introduccion)
2. [üìö Importaci√≥n de Librer√≠as](#librerias)
3. [üìÅ Carga de Datos](#datos)
4. [üî¢ Ordenamiento B√°sico](#basico)
   - [‚¨ÜÔ∏è Orden Ascendente](#ascendente)
   - [‚¨áÔ∏è Orden Descendente](#descendente)
5. [üé≠ Ordenamiento por M√∫ltiples Columnas](#multiple)
6. [üîß Opciones Avanzadas](#avanzado)
   - [üî§ Ordenamiento con Funciones Key](#key)
   - [üóÇÔ∏è Manejo de Valores Nulos](#nulos)
   - [üîÑ Modificaci√≥n In-Place](#inplace)
7. [üí° Casos Pr√°cticos](#practicos)
8. [üìù Resumen y Mejores Pr√°cticas](#resumen)

---

## üéØ Introducci√≥n {#introduccion}

El m√©todo `sort_values()` es una herramienta fundamental en **Pandas** para ordenar DataFrames. Nos permite:

- üìà **Ordenar** datos por una o m√∫ltiples columnas
- üîÑ **Controlar** la direcci√≥n del ordenamiento (ascendente/descendente)
- üéõÔ∏è **Personalizar** el comportamiento con opciones avanzadas
- üßπ **Manejar** valores nulos de manera inteligente

> üí° **Tip**: El ordenamiento es esencial para el an√°lisis exploratorio de datos y la preparaci√≥n de visualizaciones.

## üìö Importaci√≥n de Librer√≠as {#librerias}

In [1]:
# üì¶ Importamos las librer√≠as necesarias
import pandas as pd
import numpy as np
import warnings

# üîá Suprimimos warnings para una salida m√°s limpia
warnings.filterwarnings('ignore')

# üé® Configuramos pandas para mejor visualizaci√≥n
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

print("‚úÖ Librer√≠as importadas correctamente")
print(f"üìä Pandas versi√≥n: {pd.__version__}")
print(f"üî¢ NumPy versi√≥n: {np.__version__}")

‚úÖ Librer√≠as importadas correctamente
üìä Pandas versi√≥n: 2.3.1
üî¢ NumPy versi√≥n: 2.3.2

## üìÅ Carga de Datos {#datos}

Trabajaremos con un dataset de **rendimiento estudiantil** que contiene informaci√≥n sobre:
- üë• **G√©nero** de los estudiantes
- üåç **Grupo √©tnico/racial**
- üéì **Nivel educativo** de los padres
- üçΩÔ∏è **Tipo de almuerzo** (est√°ndar/reducido)
- üìö **Curso de preparaci√≥n** para ex√°menes
- üìä **Puntuaciones** en matem√°ticas, lectura y escritura

In [2]:
# üìÇ Cargamos el dataset de rendimiento estudiantil
try:
    df_exams = pd.read_csv("StudentsPerformance.csv")
    print("‚úÖ Datos cargados exitosamente")
    print(f"üìè Dimensiones del dataset: {df_exams.shape[0]} filas √ó {df_exams.shape[1]} columnas")
except FileNotFoundError:
    print("‚ùå Error: No se encontr√≥ el archivo 'StudentsPerformance.csv'")
    print("üí° Aseg√∫rate de que el archivo est√© en el directorio actual")

‚úÖ Datos cargados exitosamente
üìè Dimensiones del dataset: 1000 filas √ó 8 columnas

In [3]:
# üëÄ Exploremos la estructura de nuestros datos
print("üîç Primeras 5 filas del dataset:")
print("=" * 50)
display(df_exams.head())

print("\nüìä Informaci√≥n general del dataset:")
print("=" * 40)
df_exams.info()

üîç Primeras 5 filas del dataset:
==================================================

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

üìä Informaci√≥n general del dataset:
========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [4]:
# üìà Estad√≠sticas descriptivas de las puntuaciones
print("üìä Estad√≠sticas de las puntuaciones:")
print("=" * 40)
score_columns = ['math score', 'reading score', 'writing score']
display(df_exams[score_columns].describe())

üìä Estad√≠sticas de las puntuaciones:
========================================

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

## üî¢ Ordenamiento B√°sico {#basico}

### ‚¨ÜÔ∏è Orden Ascendente {#ascendente}

Por defecto, `sort_values()` ordena en **orden ascendente** (de menor a mayor).

In [5]:
# üìà Ordenamiento ascendente por puntuaci√≥n de matem√°ticas
print("üìä Estudiantes ordenados por puntuaci√≥n de matem√°ticas (menor a mayor):")
print("=" * 65)

df_sorted_asc = df_exams.sort_values(by="math score")

# Mostramos los 10 estudiantes con menor puntuaci√≥n
print("üîª Los 10 estudiantes con MENOR puntuaci√≥n en matem√°ticas:")
display(df_sorted_asc[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score']].head(10))

üìä Estudiantes ordenados por puntuaci√≥n de matem√°ticas (menor a mayor):
=================================================================
üîª Los 10 estudiantes con MENOR puntuaci√≥n en matem√°ticas:

     gender race/ethnicity  math score  reading score  writing score
59   female        group C           0             17             10
980  female        group B           8             24             23
17   female        group B          18             32             28
787  female        group B          19             38             32
145  female        group C          22             39             33
842  female        group B          23             44             36
338  female        group B          24             38             27
466  female        group D          26             31             38
363  female        group D          27             34             32
91     male        group C          27             34             36

### ‚¨áÔ∏è Orden Descendente {#descendente}

Para ordenar en **orden descendente** (de mayor a menor), usamos el par√°metro `ascending=False`.

In [6]:
# üìâ Ordenamiento descendente por puntuaci√≥n de matem√°ticas
print("üìä Estudiantes ordenados por puntuaci√≥n de matem√°ticas (mayor a menor):")
print("=" * 65)

df_sorted_desc = df_exams.sort_values(by="math score", ascending=False)

# Mostramos los 10 estudiantes con mayor puntuaci√≥n
print("üî∫ Los 10 estudiantes con MAYOR puntuaci√≥n en matem√°ticas:")
display(df_sorted_desc[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score']].head(10))

üìä Estudiantes ordenados por puntuaci√≥n de matem√°ticas (mayor a menor):
=================================================================
üî∫ Los 10 estudiantes con MAYOR puntuaci√≥n en matem√°ticas:

     gender race/ethnicity  math score  reading score  writing score
451  female        group E         100             92             97
458  female        group E         100            100            100
962  female        group E         100            100            100
149    male        group E         100            100             93
623    male        group A         100             96             86
625    male        group D         100             97             99
916    male        group E         100            100            100
114  female        group E          99            100            100
263  female        group E          99             93             90
306    male        group E          99             87             81

In [7]:
# üîç Comparemos los extremos
print("‚ö° Comparaci√≥n de extremos en puntuaci√≥n de matem√°ticas:")
print("=" * 55)

min_score = df_exams['math score'].min()
max_score = df_exams['math score'].max()
mean_score = df_exams['math score'].mean()

print(f"üìâ Puntuaci√≥n m√≠nima: {min_score}")
print(f"üìà Puntuaci√≥n m√°xima: {max_score}")
print(f"üìä Puntuaci√≥n promedio: {mean_score:.2f}")
print(f"üìè Rango de puntuaciones: {max_score - min_score}")

‚ö° Comparaci√≥n de extremos en puntuaci√≥n de matem√°ticas:
=======================================================
üìâ Puntuaci√≥n m√≠nima: 0
üìà Puntuaci√≥n m√°xima: 100
üìä Puntuaci√≥n promedio: 66.09
üìè Rango de puntuaciones: 100

## üé≠ Ordenamiento por M√∫ltiples Columnas {#multiple}

Podemos ordenar por **m√∫ltiples columnas** pasando una lista de nombres de columnas. El ordenamiento se realiza de forma **jer√°rquica**.

In [8]:
# üéØ Ordenamiento por m√∫ltiples columnas (mismo orden)
print("üìä Ordenamiento por g√©nero y luego por puntuaci√≥n de matem√°ticas:")
print("=" * 60)

df_multi_sort = df_exams.sort_values(by=["gender", "math score"], ascending=True)

# Mostramos una muestra del resultado
print("üë• Primeros 15 registros ordenados:")
display(df_multi_sort[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score']].head(15))

üìä Ordenamiento por g√©nero y luego por puntuaci√≥n de matem√°ticas:
============================================================
üë• Primeros 15 registros ordenados:

     gender race/ethnicity  math score  reading score  writing score
59   female        group C           0             17             10
980  female        group B           8             24             23
17   female        group B          18             32             28
787  female        group B          19             38             32
145  female        group C          22             39             33
842  female        group B          23             44             36
338  female        group B          24             38             27
466  female        group D          26             31             38
363  female        group D          27             34             32
528  female        group D          29             41             47
601  female        group C          29             29             30
683  female        group C          29             40             44
555  female        group C          32             39             33
785  female        group B          32             51             44
895  female        group E          32             34             38

In [9]:
# üîÑ Ordenamiento mixto: diferentes direcciones para cada columna
print("üé≠ Ordenamiento mixto: g√©nero (ascendente) y matem√°ticas (descendente):")
print("=" * 70)

df_mixed_sort = df_exams.sort_values(
    by=["gender", "math score"], 
    ascending=[True, False]  # G√©nero ascendente, matem√°ticas descendente
)

print("üèÜ Los mejores estudiantes de cada g√©nero:")
display(df_mixed_sort[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score']].head(15))

üé≠ Ordenamiento mixto: g√©nero (ascendente) y matem√°ticas (descendente):
======================================================================
üèÜ Los mejores estudiantes de cada g√©nero:

     gender race/ethnicity  math score  reading score  writing score
451  female        group E         100             92             97
458  female        group E         100            100            100
962  female        group E         100            100            100
114  female        group E          99            100            100
263  female        group E          99             93             90
712  female        group D          98            100             99
179  female        group D          97            100            100
855  female        group B          97             97             96
165  female        group C          96            100            100
717  female        group C          96             96             99
503  female        group E          95             89             92
501  female        group B          94             87             92
685  female        group E          94             99            100
886  female        group E          93            100             95
903  female        group D          93            100            100

In [10]:
# üé™ Ordenamiento por tres columnas
print("üé™ Ordenamiento complejo: g√©nero, grupo √©tnico y puntuaci√≥n de matem√°ticas:")
print("=" * 75)

df_complex_sort = df_exams.sort_values(
    by=["gender", "race/ethnicity", "math score"], 
    ascending=[True, True, False]
)

print("üåü Ranking por categor√≠as:")
display(df_complex_sort[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score']].head(20))

üé™ Ordenamiento complejo: g√©nero, grupo √©tnico y puntuaci√≥n de matem√°ticas:
===========================================================================
üåü Ranking por categor√≠as:

     gender race/ethnicity  math score  reading score  writing score
546  female        group A          92            100             97
820  female        group A          85             90             92
614  female        group A          82             93             93
983  female        group A          78             87             91
468  female        group A          77             88             85
837  female        group A          75             82             79
778  female        group A          72             79             82
378  female        group A          71             83             77
911  female        group A          69             84             82
651  female        group A          68             80             76
490  female        group A          65             85             76
653  female        group A          65             70             74
830  female        group A          61             60             57
851  female        group A          61             68             63
423  female        group A          59             85             80
442  female        group A          59             73             69
697  female        group A          59             72             70
88   female        group A          58             70             67
960  female        group A          56             58             64
46   female        group A          55             65             62

## üîß Opciones Avanzadas {#avanzado}

### üî§ Ordenamiento con Funciones Key {#key}

El par√°metro `key` nos permite aplicar una **funci√≥n de transformaci√≥n** antes del ordenamiento.

In [11]:
# üî§ Ordenamiento alfab√©tico ignorando may√∫sculas/min√∫sculas
print("üî§ Ordenamiento por grupo √©tnico (ignorando may√∫sculas):")
print("=" * 55)

# Primero veamos los grupos √∫nicos
print("üìã Grupos √©tnicos disponibles:")
print(df_exams['race/ethnicity'].unique())

# Ordenamos usando una funci√≥n key
df_key_sort = df_exams.sort_values(
    "race/ethnicity", 
    ascending=True, 
    key=lambda col: col.str.lower()  # Convertimos a min√∫sculas para ordenar
)

print("\nüéØ Muestra del ordenamiento por grupo √©tnico:")
display(df_key_sort[['gender', 'race/ethnicity', 'math score']].head(15))

üî§ Ordenamiento por grupo √©tnico (ignorando may√∫sculas):
=======================================================
üìã Grupos √©tnicos disponibles:
['group B' 'group C' 'group A' 'group D' 'group E']

üéØ Muestra del ordenamiento por grupo √©tnico:

     gender race/ethnicity  math score
778  female        group A          72
546  female        group A          92
820  female        group A          85
741  female        group A          37
305    male        group A          69
62     male        group A          62
61     male        group A          39
972  female        group A          53
112    male        group A          54
300    male        group A          81
974  female        group A          54
296    male        group A          46
911  female        group A          69
151    male        group A          77
571    male        group A          91

In [12]:
# üßÆ Ordenamiento por puntuaci√≥n total calculada
print("üßÆ Ordenamiento por puntuaci√≥n total (suma de las tres materias):")
print("=" * 65)

# Calculamos la puntuaci√≥n total
df_exams['total_score'] = df_exams['math score'] + df_exams['reading score'] + df_exams['writing score']

# Ordenamos por puntuaci√≥n total
df_total_sort = df_exams.sort_values('total_score', ascending=False)

print("üèÜ Top 10 estudiantes con mayor puntuaci√≥n total:")
display(df_total_sort[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score', 'total_score']].head(10))

print("\nüìâ Bottom 5 estudiantes con menor puntuaci√≥n total:")
display(df_total_sort[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score', 'total_score']].tail(5))

üßÆ Ordenamiento por puntuaci√≥n total (suma de las tres materias):
=================================================================
üèÜ Top 10 estudiantes con mayor puntuaci√≥n total:

,gender,race/ethnicity,math score,reading score,writing score,total_score
916,male,group E,100,100,100,300
962,female,group E,100,100,100,300
458,female,group E,100,100,100,300
114,female,group E,99,100,100,299
712,female,group D,98,100,99,297
179,female,group D,97,100,100,297
165,female,group C,96,100,100,296
625,male,group D,100,97,99,296
685,female,group E,94,99,100,293
903,female,group D,93,100,100,293

üìâ Bottom 5 estudiantes con menor puntuaci√≥n total:

,gender,race/ethnicity,math score,reading score,writing score,total_score
17,female,group B,18,32,28,78
327,male,group A,28,23,19,70
596,male,group B,30,24,15,69
980,female,group B,8,24,23,55
59,female,group C,0,17,10,27

### üóÇÔ∏è Manejo de Valores Nulos {#nulos}

El par√°metro `na_position` controla d√≥nde se colocan los valores nulos en el ordenamiento.

In [13]:
# üß™ Creamos un DataFrame de ejemplo con valores nulos
print("üß™ Creando datos de ejemplo con valores nulos:")
print("=" * 45)

# Creamos una copia y a√±adimos algunos valores nulos
df_with_nulls = df_exams.copy()

# Introducimos algunos valores nulos aleatoriamente
np.random.seed(42)
null_indices = np.random.choice(df_with_nulls.index, size=20, replace=False)
df_with_nulls.loc[null_indices, 'math score'] = np.nan

print(f"üìä Valores nulos introducidos: {df_with_nulls['math score'].isnull().sum()}")
print(f"üìà Valores v√°lidos restantes: {df_with_nulls['math score'].notnull().sum()}")

üß™ Creando datos de ejemplo con valores nulos:
=============================================
üìä Valores nulos introducidos: 20
üìà Valores v√°lidos restantes: 980

In [14]:
# üîù Valores nulos al principio
print("üîù Ordenamiento con valores nulos al PRINCIPIO:")
print("=" * 45)

df_nulls_first = df_with_nulls.sort_values('math score', na_position='first')

print("üìã Primeros 10 registros (valores nulos primero):")
display(df_nulls_first[['gender', 'race/ethnicity', 'math score']].head(10))

üîù Ordenamiento con valores nulos al PRINCIPIO:
=============================================
üìã Primeros 10 registros (valores nulos primero):

     gender race/ethnicity  math score
76     male        group E         NaN
136    male        group B         NaN
280    male        group D         NaN
319  female        group D         NaN
411    male        group E         NaN
513  female        group B         NaN
521  female        group C         NaN
626    male        group B         NaN
636  female        group B         NaN
660    male        group C         NaN

In [15]:
# üîö Valores nulos al final (comportamiento por defecto)
print("üîö Ordenamiento con valores nulos al FINAL:")
print("=" * 42)

df_nulls_last = df_with_nulls.sort_values('math score', na_position='last')

print("üìã √öltimos 10 registros (valores nulos al final):")
display(df_nulls_last[['gender', 'race/ethnicity', 'math score']].tail(10))

üîö Ordenamiento con valores nulos al FINAL:
==========================================
üìã √öltimos 10 registros (valores nulos al final):

     gender race/ethnicity  math score
678    male        group D         NaN
737  female        group B         NaN
740    male        group D         NaN
761  female        group D         NaN
811    male        group A         NaN
859    male        group C         NaN
883    male        group D         NaN
899  female        group D         NaN
938    male        group D         NaN
973  female        group D         NaN

### üîÑ Modificaci√≥n In-Place {#inplace}

El par√°metro `inplace=True` modifica el DataFrame original en lugar de crear una copia.

In [16]:
# ‚ö†Ô∏è Demostraci√≥n de inplace (con copia para no modificar el original)
print("üîÑ Demostraci√≥n de modificaci√≥n in-place:")
print("=" * 40)

# Creamos una copia peque√±a para la demostraci√≥n
df_demo = df_exams.head(10).copy()

print("üìä DataFrame original (primeras 5 filas):")
display(df_demo[['gender', 'math score']].head())

print("\nüîÑ Aplicando sort_values con inplace=True...")
df_demo.sort_values('math score', ascending=False, inplace=True)

print("\nüìä DataFrame despu√©s del ordenamiento in-place:")
display(df_demo[['gender', 'math score']].head())

print("\nüí° Nota: El DataFrame original ha sido modificado permanentemente")

üîÑ Demostraci√≥n de modificaci√≥n in-place:
========================================
üìä DataFrame original (primeras 5 filas):

   gender  math score
0  female          72
1  female          69
2  female          90
3    male          47
4    male          76

üîÑ Aplicando sort_values con inplace=True...

üìä DataFrame despu√©s del ordenamiento in-place:

   gender  math score
2  female          90
6  female          88
4    male          76
0  female          72
5  female          71

üí° Nota: El DataFrame original ha sido modificado permanentemente

## üí° Casos Pr√°cticos {#practicos}

### üéØ Caso 1: An√°lisis de Rendimiento por G√©nero

In [17]:
# üéØ An√°lisis de rendimiento por g√©nero
print("üë• An√°lisis de Rendimiento por G√©nero:")
print("=" * 40)

# Top 5 estudiantes de cada g√©nero en matem√°ticas
print("üèÜ Top 5 estudiantes femeninas en matem√°ticas:")
top_female = df_exams[df_exams['gender'] == 'female'].sort_values('math score', ascending=False).head(5)
display(top_female[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score']])

print("\nüèÜ Top 5 estudiantes masculinos en matem√°ticas:")
top_male = df_exams[df_exams['gender'] == 'male'].sort_values('math score', ascending=False).head(5)
display(top_male[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score']])

üë• An√°lisis de Rendimiento por G√©nero:
========================================
üèÜ Top 5 estudiantes femeninas en matem√°ticas:

     gender race/ethnicity  math score  reading score  writing score
962  female        group E         100            100            100
451  female        group E         100             92             97
458  female        group E         100            100            100
263  female        group E          99             93             90
114  female        group E          99            100            100

üèÜ Top 5 estudiantes masculinos en matem√°ticas:

    gender race/ethnicity  math score  reading score  writing score
916   male        group E         100            100            100
149   male        group E         100            100             93
625   male        group D         100             97             99
623   male        group A         100             96             86
306   male        group E          99             87             81

### üìö Caso 2: Impacto del Curso de Preparaci√≥n

In [18]:
# üìö An√°lisis del impacto del curso de preparaci√≥n
print("üìö An√°lisis del Impacto del Curso de Preparaci√≥n:")
print("=" * 50)

# Comparamos estudiantes con y sin curso de preparaci√≥n
completed_course = df_exams[df_exams['test preparation course'] == 'completed']
no_course = df_exams[df_exams['test preparation course'] == 'none']

print("‚úÖ Estad√≠sticas - Estudiantes CON curso de preparaci√≥n:")
print(f"   üìä Promedio matem√°ticas: {completed_course['math score'].mean():.2f}")
print(f"   üìñ Promedio lectura: {completed_course['reading score'].mean():.2f}")
print(f"   ‚úçÔ∏è Promedio escritura: {completed_course['writing score'].mean():.2f}")

print("\n‚ùå Estad√≠sticas - Estudiantes SIN curso de preparaci√≥n:")
print(f"   üìä Promedio matem√°ticas: {no_course['math score'].mean():.2f}")
print(f"   üìñ Promedio lectura: {no_course['reading score'].mean():.2f}")
print(f"   ‚úçÔ∏è Promedio escritura: {no_course['writing score'].mean():.2f}")

# Top 10 con curso de preparaci√≥n
print("\nüåü Top 10 estudiantes con curso de preparaci√≥n:")
top_prepared = completed_course.sort_values('total_score', ascending=False).head(10)
display(top_prepared[['gender', 'race/ethnicity', 'math score', 'reading score', 'writing score', 'total_score']])

üìö An√°lisis del Impacto del Curso de Preparaci√≥n:
==================================================
‚úÖ Estad√≠sticas - Estudiantes CON curso de preparaci√≥n:
   üìä Promedio matem√°ticas: 69.70
   üìñ Promedio lectura: 73.89
   ‚úçÔ∏è Promedio escritura: 74.42

‚ùå Estad√≠sticas - Estudiantes SIN curso de preparaci√≥n:
   üìä Promedio matem√°ticas: 64.08
   üìñ Promedio lectura: 66.53
   ‚úçÔ∏è Promedio escritura: 64.50

üåü Top 10 estudiantes con curso de preparaci√≥n:

,gender,race/ethnicity,math score,reading score,writing score,total_score
916,male,group E,100,100,100,300
114,female,group E,99,100,100,299
179,female,group D,97,100,100,297
165,female,group C,96,100,100,296
625,male,group D,100,97,99,296
903,female,group D,93,100,100,293
685,female,group E,94,99,100,293
149,male,group E,100,100,93,293
566,female,group E,92,100,100,292
717,female,group C,96,96,99,291

### üçΩÔ∏è Caso 3: An√°lisis Socioecon√≥mico (Tipo de Almuerzo)

In [19]:
# üçΩÔ∏è An√°lisis socioecon√≥mico basado en el tipo de almuerzo
print("üçΩÔ∏è An√°lisis Socioecon√≥mico (Tipo de Almuerzo):")
print("=" * 45)

# Separamos por tipo de almuerzo
standard_lunch = df_exams[df_exams['lunch'] == 'standard']
reduced_lunch = df_exams[df_exams['lunch'] == 'free/reduced']

print("üçΩÔ∏è Comparaci√≥n de rendimiento por tipo de almuerzo:")
print("\nüí∞ Almuerzo EST√ÅNDAR (mejor situaci√≥n econ√≥mica):")
print(f"   üë• Cantidad de estudiantes: {len(standard_lunch)}")
print(f"   üìä Promedio matem√°ticas: {standard_lunch['math score'].mean():.2f}")
print(f"   üìñ Promedio lectura: {standard_lunch['reading score'].mean():.2f}")
print(f"   ‚úçÔ∏è Promedio escritura: {standard_lunch['writing score'].mean():.2f}")

print("\nüé´ Almuerzo GRATUITO/REDUCIDO (situaci√≥n econ√≥mica vulnerable):")
print(f"   üë• Cantidad de estudiantes: {len(reduced_lunch)}")
print(f"   üìä Promedio matem√°ticas: {reduced_lunch['math score'].mean():.2f}")
print(f"   üìñ Promedio lectura: {reduced_lunch['reading score'].mean():.2f}")
print(f"   ‚úçÔ∏è Promedio escritura: {reduced_lunch['writing score'].mean():.2f}")

# Ranking general ordenado por puntuaci√≥n total
print("\nüèÜ Ranking general por puntuaci√≥n total:")
ranking_general = df_exams.sort_values('total_score', ascending=False)
display(ranking_general[['gender', 'race/ethnicity', 'lunch', 'test preparation course', 'total_score']].head(15))

üçΩÔ∏è An√°lisis Socioecon√≥mico (Tipo de Almuerzo):
=============================================
üçΩÔ∏è Comparaci√≥n de rendimiento por tipo de almuerzo:

üí∞ Almuerzo EST√ÅNDAR (mejor situaci√≥n econ√≥mica):
   üë• Cantidad de estudiantes: 645
   üìä Promedio matem√°ticas: 70.03
   üìñ Promedio lectura: 71.65
   ‚úçÔ∏è Promedio escritura: 70.82

üé´ Almuerzo GRATUITO/REDUCIDO (situaci√≥n econ√≥mica vulnerable):
   üë• Cantidad de estudiantes: 355
   üìä Promedio matem√°ticas: 58.92
   üìñ Promedio lectura: 64.65
   ‚úçÔ∏è Promedio escritura: 63.02

üèÜ Ranking general por puntuaci√≥n total:

     gender race/ethnicity         lunch test preparation course  total_score
916    male        group E      standard               completed          300
962  female        group E      standard                    none          300
458  female        group E      standard                    none          300
114  female        group E      standard               completed          299
712  female        group D      standard                    none          297
179  female        group D      standard               completed          297
165  female        group C      standard               completed          296
625    male        group D      standard               completed          296
685  female        group E      standard               completed          293
903  female        group D  free/reduced               completed          293
149    male        group E  free/reduced               completed          293
957  female        group D      standard                    none          292
566  female        group E  free/reduced               completed          292
594  female        group C      standard               completed          291
717  female        group C      standard               completed          291

## üìù Resumen y Mejores Pr√°cticas {#resumen}

### üéØ Puntos Clave del M√©todo `sort_values()`

| Par√°metro | Descripci√≥n | Ejemplo |
|-----------|-------------|----------|
| `by` | üìã Columna(s) por las que ordenar | `by='math score'` o `by=['gender', 'math score']` |
| `ascending` | ‚¨ÜÔ∏è‚¨áÔ∏è Direcci√≥n del ordenamiento | `ascending=True` (ascendente) o `ascending=False` (descendente) |
| `na_position` | üóÇÔ∏è Posici√≥n de valores nulos | `na_position='first'` o `na_position='last'` |
| `inplace` | üîÑ Modificar DataFrame original | `inplace=True` (modifica original) o `inplace=False` (crea copia) |
| `key` | üîß Funci√≥n de transformaci√≥n | `key=lambda x: x.str.lower()` |
| `ignore_index` | üî¢ Resetear √≠ndice | `ignore_index=True` |

### üí° Mejores Pr√°cticas

1. **üéØ Claridad en el Objetivo**
   - Define claramente qu√© quieres lograr con el ordenamiento
   - Considera si necesitas orden ascendente o descendente

2. **üîç Manejo de Datos Faltantes**
   - Siempre considera c√≥mo manejar valores nulos
   - Usa `na_position` seg√∫n tu an√°lisis

3. **‚ö° Rendimiento**
   - Para DataFrames grandes, considera usar `inplace=True` para ahorrar memoria
   - Ordena solo las columnas necesarias

4. **üîÑ Preservaci√≥n de Datos**
   - Por defecto, `sort_values()` no modifica el DataFrame original
   - Asigna el resultado a una variable si quieres conservar el ordenamiento

5. **üìä An√°lisis Exploratorio**
   - Usa ordenamiento para identificar outliers
   - Combina con `.head()` y `.tail()` para ver extremos

### üöÄ Comandos √ötiles para Recordar

```python
# üìà Ordenamiento b√°sico
df.sort_values('columna')

# üìâ Ordenamiento descendente
df.sort_values('columna', ascending=False)

# üé≠ M√∫ltiples columnas
df.sort_values(['col1', 'col2'], ascending=[True, False])

# üîß Con funci√≥n personalizada
df.sort_values('columna', key=lambda x: x.str.lower())

# üîÑ Modificaci√≥n permanente
df.sort_values('columna', inplace=True)
```

---

### üéâ ¬°Felicitaciones!

Has completado el tutorial sobre **ordenamiento con `sort_values()`**. Ahora tienes las herramientas para:

- ‚úÖ Ordenar DataFrames de manera eficiente
- ‚úÖ Manejar casos complejos con m√∫ltiples columnas
- ‚úÖ Aplicar t√©cnicas avanzadas de ordenamiento
- ‚úÖ Realizar an√°lisis exploratorio de datos

**üöÄ Pr√≥ximos pasos sugeridos:**
- Explora m√©todos de agrupaci√≥n con `groupby()`
- Aprende sobre filtrado avanzado de datos
- Practica con visualizaciones de datos ordenados

---

*üìö Este notebook forma parte de la serie "DataScience con Python" - ¬°Sigue aprendiendo!* üêç‚ú®